<!DOCTYPE html>
<html>
<head>
<title>RestBucks</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="app">
		<h1>{{title}}</h1>
		<table style="width:100%">
			<thead>
				<tr>
					<th>Order #</th>
					<th>Customer #</th>
					<th>Description</th>
					<th>Price</th>
					<th>Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="order in orders">
					<td>{{order.id}}</td>
					<td>{{order.customerId}}</td>
					<td>{{order.description}}</td>
					<td>&euro;{{order.price.toFixed(2)}}</td>
					<td>{{order.dateCreated}}</td>
					<td>{{order.status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="resources/js/question4.js"></script>
</body>
</html>